@component OpalSlider {
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	user-select: none;

	&::before {
		position: absolute;
		top: 3px;
		right: 3px;
		left: 3px;
		z-index: 0;
		height: 14px;
		border-radius: 7px;
		background: var(--grayColor850, $grayColor850);
		content: '';
	}

	@el firstInputWrapper3 {
		position: absolute;
		top: 0;
		right: 10px;
		left: 10px;
		z-index: 2;
	}
		@el firstInputWrapper2 {
			position: relative;
		}
			@el firstInputWrapper {
				position: absolute;
				top: 0;
				right: 0;
				left: -10px;
				overflow: hidden;
			}
				@el firstInput,
					secondInput
				{
					display: block;
					margin: 0;
					padding: 0;
					width: 200px;
					height: 20px;
					background: transparent;
					-webkit-appearance: none;
				}

				@el firstInput {
					&::-moz-focus-outer {
						border: none;
					}

					&::-moz-range-track {
						border: none;
						background: none;
					}

					&::-ms-track {
						border-width: 6px 0;
						border-color: transparent;
						background: transparent;
						color: transparent;
					}

					&::-ms-fill-lower {
						background: transparent;
					}

					&::-webkit-slider-thumb {
						position: relative;
						width: 20px;
						height: 20px;
						border: 0;
						border-radius: 50%;
						background: var(--defaultColor500, $defaultColor);
						cursor: pointer;
						transition: background .1s linear;
						-webkit-appearance: none;
					}
					&::-moz-range-thumb {
						position: relative;
						width: 20px;
						height: 20px;
						border: 0;
						border-radius: 50%;
						background: var(--defaultColor500, $defaultColor);
						cursor: pointer;
						transition: background .1s linear;
					}
					&::-ms-thumb {
						position: relative;
						width: 20px;
						height: 20px;
						border: 0;
						border-radius: 50%;
						background: var(--defaultColor500, $defaultColor);
						cursor: pointer;
						transition: background .1s linear;
					}
				}

				@el secondInput {
					position: relative;
					z-index: 1;

					&::-moz-focus-outer {
						border: none;
					}

					&::-moz-range-track {
						border: none;
						background: none;
					}

					&::-ms-track {
						border-width: 6px 0;
						border-color: transparent;
						background: transparent;
						color: transparent;
					}

					&::-ms-fill-lower {
						background: transparent;
					}

					&::-webkit-slider-thumb {
						position: relative;
						width: 20px;
						height: 20px;
						border: 0;
						border-radius: 50%;
						background: var(--primaryColor500, $primaryColor);
						cursor: pointer;
						transition: background .1s linear;
						-webkit-appearance: none;
					}
					&::-moz-range-thumb {
						position: relative;
						width: 20px;
						height: 20px;
						border: 0;
						border-radius: 50%;
						background: var(--primaryColor500, $primaryColor);
						cursor: pointer;
						transition: background .1s linear;
					}
					&::-ms-thumb {
						position: relative;
						width: 20px;
						height: 20px;
						border: 0;
						border-radius: 50%;
						background: var(--primaryColor500, $primaryColor);
						cursor: pointer;
						transition: background .1s linear;
					}
				}

	@el input {
		position: relative;
		z-index: 1;
		display: block;
		margin: 0;
		padding: 0;
		width: 200px;
		height: 20px;
		background: transparent;
		-webkit-appearance: none;

		&::-moz-focus-outer {
			border: none;
		}

		&::-moz-range-track {
			border: none;
			background: none;
		}

		&::-ms-track {
			border-width: 6px 0;
			border-color: transparent;
			background: transparent;
			color: transparent;
		}

		&::-ms-fill-lower {
			background: transparent;
		}

		&::-webkit-slider-thumb {
			position: relative;
			width: 20px;
			height: 20px;
			border: 0;
			border-radius: 50%;
			background: var(--defaultColor500, $defaultColor);
			cursor: pointer;
			transition: background .1s linear;
			-webkit-appearance: none;
		}

		&::-moz-range-thumb {
			position: relative;
			width: 20px;
			height: 20px;
			border: 0;
			border-radius: 50%;
			background: var(--defaultColor500, $defaultColor);
			cursor: pointer;
			transition: background .1s linear;
		}

		&::-ms-thumb {
			position: relative;
			width: 20px;
			height: 20px;
			border: 0;
			border-radius: 50%;
			background: var(--defaultColor500, $defaultColor);
			cursor: pointer;
			transition: background .1s linear;
		}
	}

	/* States */

	& .OpalSlider__firstInput:hover::-webkit-slider-thumb {
		background: var(--defaultColor650, $defaultColor650);
	}
	& .OpalSlider__firstInput:hover::-moz-range-thumb {
		background: var(--defaultColor650, $defaultColor650);
	}
	& .OpalSlider__firstInput:hover::-ms-thumb {
		background: var(--defaultColor650, $defaultColor650);
	}

	& .OpalSlider__secondInput:hover::-webkit-slider-thumb {
		background: var(--primaryColor650, $primaryColor650);
	}
	& .OpalSlider__secondInput:hover::-moz-range-thumb {
		background: var(--primaryColor650, $primaryColor650);
	}
	& .OpalSlider__secondInput:hover::-ms-thumb {
		background: var(--primaryColor650, $primaryColor650);
	}

	& .OpalSlider__input:hover::-webkit-slider-thumb {
		background: var(--defaultColor650, $defaultColor650);
	}
	& .OpalSlider__input:hover::-moz-range-thumb {
		background: var(--defaultColor650, $defaultColor650);
	}
	& .OpalSlider__input:hover::-ms-thumb {
		background: var(--defaultColor650, $defaultColor650);
	}

	& .OpalSlider__firstInput:focus,
	& .OpalSlider__secondInput:focus,
	& .OpalSlider__input:focus {
		outline: none;
	}
		body:not(._noFocusHighlight) & .OpalSlider__firstInput:focus::-webkit-slider-thumb {
			box-shadow:
				inset 0 0 0 2px var(--defaultColor500, $defaultColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}
		body:not(._noFocusHighlight) & .OpalSlider__secondInput:focus::-webkit-slider-thumb {
			box-shadow:
				inset 0 0 0 2px var(--primaryColor500, $primaryColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}
		body:not(._noFocusHighlight) & .OpalSlider__input:focus::-webkit-slider-thumb {
			box-shadow:
				inset 0 0 0 2px var(--defaultColor500, $defaultColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}

		body:not(._noFocusHighlight) & .OpalSlider__firstInput:focus::-moz-range-thumb {
			box-shadow:
				inset 0 0 0 2px var(--defaultColor500, $defaultColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}
		body:not(._noFocusHighlight) & .OpalSlider__secondInput:focus::-moz-range-thumb {
			box-shadow:
				inset 0 0 0 2px var(--primaryColor500, $primaryColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}
		body:not(._noFocusHighlight) & .OpalSlider__input:focus::-moz-range-thumb {
			box-shadow:
				inset 0 0 0 2px var(--defaultColor500, $defaultColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}

		body:not(._noFocusHighlight) & .OpalSlider__firstInput:focus::-ms-thumb {
			box-shadow:
				inset 0 0 0 2px var(--defaultColor500, $defaultColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}
		body:not(._noFocusHighlight) & .OpalSlider__secondInput:focus::-ms-thumb {
			box-shadow:
				inset 0 0 0 2px var(--primaryColor500, $primaryColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}
		body:not(._noFocusHighlight) & .OpalSlider__input:focus::-ms-thumb {
			box-shadow:
				inset 0 0 0 2px var(--defaultColor500, $defaultColor),
				inset 0 0 0 3px rgba(255,255,255,.8);
		}

	body:not(._noFocusHighlight) & .OpalSlider__firstInput:hover:focus::-webkit-slider-thumb {
		box-shadow:
			inset 0 0 0 2px var(--defaultColor650, $defaultColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
	body:not(._noFocusHighlight) & .OpalSlider__secondInput:hover:focus::-webkit-slider-thumb {
		box-shadow:
			inset 0 0 0 2px var(--primaryColor650, $primaryColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
	body:not(._noFocusHighlight) & .OpalSlider__input:hover:focus::-webkit-slider-thumb {
		box-shadow:
			inset 0 0 0 2px var(--defaultColor650, $defaultColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}

	body:not(._noFocusHighlight) & .OpalSlider__firstInput:hover:focus::-moz-range-thumb {
		box-shadow:
			inset 0 0 0 2px var(--defaultColor650, $defaultColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
	body:not(._noFocusHighlight) & .OpalSlider__secondInput:hover:focus::-moz-range-thumb {
		box-shadow:
			inset 0 0 0 2px var(--primaryColor650, $primaryColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
	body:not(._noFocusHighlight) & .OpalSlider__input:hover:focus::-moz-range-thumb {
		box-shadow:
			inset 0 0 0 2px var(--defaultColor650, $defaultColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}

	body:not(._noFocusHighlight) & .OpalSlider__firstInput:hover:focus::-ms-thumb {
		box-shadow:
			inset 0 0 0 2px var(--defaultColor500, $defaultColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
	body:not(._noFocusHighlight) & .OpalSlider__secondInput:hover:focus::-ms-thumb {
		box-shadow:
			inset 0 0 0 2px var(--primaryColor650, $primaryColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
	body:not(._noFocusHighlight) & .OpalSlider__input:hover:focus::-ms-thumb {
		box-shadow:
			inset 0 0 0 2px var(--defaultColor500, $defaultColor650),
			inset 0 0 0 3px rgba(255,255,255,.8);
	}
}