.opal-loaded-list {
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	height: 500px;

	& .opal-loaded-list__list {
	}
		& .opal-loaded-list__list-item {
			display: block;
		}

	& .opal-loaded-list__loader {
	}

	& .opal-loaded-list__loader[align-center] {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}

	& .opal-loaded-list__not-found {
		display: none;
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
		height: 100%;
		text-align: center;
		white-space: nowrap;
	}
		& .opal-loaded-list__not-found::before {
			display: inline-block;
			width: 0;
			height: 100%;
			content: '';
			vertical-align: middle;
		}

		& .opal-loaded-list__not-found-message {
			display: inline-block;
			vertical-align: middle;
			opacity: .6;
		}

	& .opal-loaded-list__not-found[shown] {
		display: inline-block;
	}
}