@component OpalTagSelect {
	display: inline;

	@el tags {
	}
		@el tag {
			position: relative;
			top: -1px;
			display: inline-block;
			margin: 2px 38px 2px 0;
			padding: 0 10px 0 18px;
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
			background: hsl(208,26%,48%);
			color: #fff;
			vertical-align: middle;
			text-decoration: none;
			text-shadow: none;
			font: 16px/32px Verdana, Geneva, sans-serif;
			font-weight: normal;

			@mod disabled {
				margin-right: 6px;
				padding-right: 18px;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;

				@el btnRemoveTag {
					display: none;
				}
			}
		}
			@el btnRemoveTag {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				display: block;
				padding: 0;
				width: 32px;
				border: 0;
				border-radius: 0;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
				background: hsl(208,16%,38%);
				box-shadow: inset 1px 0 rgba(0,0,0,.4);
				cursor: pointer;
				transition: background .1s linear;

				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 12px;
					height: 2px;
					background: #fff;
					content: '';
				}

				&:hover {
					background: hsl(208,26%,48%);
				}

				&:focus {
					outline: none;

					body:not(._noFocusHighlight) &::after {
						position: absolute;
						top: 2px;
						right: 2px;
						bottom: 2px;
						left: 2px;
						border: 1px solid rgba(255,255,255,.8);
						border-radius: inherit;
						content: '';
						pointer-events: none;
					}
				}

				&:active {
					background: hsl(208,6%,28%);
				}
			}

	@el control {
		display: inline-block;
		white-space: nowrap;
		cursor: pointer;
		user-select: none;
	}
		@el placeholder {
		}

		@el select {
		}
			@el button {
				margin: 1px 0;
			}

	@mod viewType=primary {
		@el tag {
			background: hsl(208,100%,48%);
		}
			@el btnRemoveTag {
				background: hsl(208,90%,38%);

				&:hover {
					background: hsl(208,100%,48%);
				}

				&:active {
					background: hsl(208,80%,28%);
				}
			}
	}

	@mod viewType=danger {
		@el tag {
			background: hsl(348,96%,52%);
		}
			@el btnRemoveTag {
				background: hsl(348,86%,42%);

				&:hover {
					background: hsl(348,96%,52%);
				}

				&:active {
					background: hsl(348,76%,32%);
				}
			}
	}
}