@component OpalTagSelect {
	display: inline;

	@el tags {
	}
		@el tag {
			position: relative;
			top: -1px;
			display: inline-block;
			margin: 2px 40px 2px 0;
			padding: 0 10px 0 18px;
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
			background: var(--defaultColor500, $defaultColor);
			color: #fff;
			text-decoration: none;
			text-shadow: none;
			font: 16px/32px Verdana, Geneva, sans-serif;
			font-weight: normal;
			cursor: default;

			@mod disabled {
				margin-right: 8px;
				padding-right: 18px;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;

				@el btnRemoveTag {
					display: none;
				}
			}
		}
			@el btnRemoveTag {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				display: block;
				padding: 0;
				width: 32px;
				border: 0;
				border-radius: 0;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
				background: var(--defaultColor400, $defaultColor400);
				box-shadow: inset 1px 0 rgba(0,0,0,.4);
				cursor: pointer;
				transition: background .1s linear;

				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 12px;
					height: 2px;
					background: #fff;
					content: '';
				}

				&:hover {
					background: var(--defaultColor500, $defaultColor);
				}

				&:focus {
					outline: none;

					body:not(._noFocusHighlight) &::after {
						position: absolute;
						top: 2px;
						right: 2px;
						bottom: 2px;
						left: 2px;
						border: 1px solid rgba(255,255,255,.8);
						border-radius: inherit;
						content: '';
						pointer-events: none;
					}
				}

				&:active {
					background: var(--defaultColor300, $defaultColor300);
				}
			}

	@el control {
		display: inline-block;
		white-space: nowrap;
		cursor: pointer;
		user-select: none;
	}
		@el placeholder {
			margin-right: 8px;
		}

		@el select {
		}
			@el button {
				margin: 1px 0;
			}

			@el menu {
			}
				@el menuLoader {
					border-top-width: 70px;
					border-bottom-width: 70px;
				}

	@mod viewType=primary {
		@el tag {
			background: var(--primaryColor500, $primaryColor);
		}
			@el btnRemoveTag {
				background: var(--primaryColor400, $primaryColor400);

				&:hover {
					background: var(--primaryColor500, $primaryColor);
				}

				&:active {
					background: var(--primaryColor300, $primaryColor300);
				}
			}
	}

	@mod viewType=success {
		@el tag {
			background: var(--successColor500, $successColor);
		}
			@el btnRemoveTag {
				background: var(--successColor400, $successColor400);

				&:hover {
					background: var(--successColor500, $successColor);
				}

				&:active {
					background: var(--successColor300, $successColor300);
				}
			}
	}

	@mod viewType=warning {
		@el tag {
			background: var(--warningColor500, $warningColor);
		}
			@el btnRemoveTag {
				background: var(--warningColor400, $warningColor400);

				&:hover {
					background: var(--warningColor500, $warningColor);
				}

				&:active {
					background: var(--warningColor300, $warningColor300);
				}
			}
	}

	@mod viewType=danger {
		@el tag {
			background: var(--dangerColor500, $dangerColor);
		}
			@el btnRemoveTag {
				background: var(--dangerColor400, $dangerColor400);

				&:hover {
					background: var(--dangerColor500, $dangerColor);
				}

				&:active {
					background: var(--dangerColor300, $dangerColor300);
				}
			}
	}

	@mod disabled {
		pointer-events: none;

		@el placeholder {
			opacity: .5;
		}
	}
}