.opal-multirow-row {
	display: block;
    white-space: nowrap;

	&::after {
		display: table;
		clear: both;
		content: '';
	}

	& .opal-multirow-row__content {
		display: inline-block;
		margin-bottom: 19px;
		padding-right: 6px;
	}

	& .opal-multirow-row__btn-remove-row,
	& .opal-multirow-row__btn-add-row {
		display: none;
		margin-top: 2px;
	}

	& .opal-multirow-row__btn-remove-row {
	}

	& .opal-multirow-row__btn-add-row {
	}

	@nest
	.opal-multirow__preset-rows[no-new-rows] &:last-child .opal-multirow-row__content,
	.opal-multirow__new-rows rt-content:last-child & .opal-multirow-row__content {
		margin-bottom: 0;
	}

	@nest
	.opal-multirow__preset-rows[not-last-row] & .opal-multirow-row__btn-remove-row,
	.opal-multirow__new-rows[not-last-row] & .opal-multirow-row__btn-remove-row,
	.opal-multirow__preset-rows[no-new-rows] &:last-child .opal-multirow-row__btn-add-row,
	.opal-multirow__new-rows rt-content:last-child & .opal-multirow-row__btn-add-row {
		display: inline-block;
	}
}