.opal-tag-select {
	display: inline-block;

	& .opal-tag-select__tags {
	}
		& .opal-tag-select__tag {
			position: relative;
			top: -1px;
			display: inline-block;
			margin: 2px 35px 2px 0;
			padding: 0 10px 0 16px;
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
			background: hsl(208,26%,48%);
			color: #fff;
			vertical-align: middle;
			text-decoration: none;
			text-shadow: none;
			font: 16px/32px Verdana, Geneva, sans-serif;
			font-weight: normal;
			line-height: 0;
		}
			& .opal-tag-select__btn-remove-tag {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				display: block;
				padding: 0;
				width: 32px;
				border: 0;
				border-top-right-radius: 16px;
				border-bottom-right-radius: 16px;
				background: hsl(208,16%,38%);
				box-shadow: inset 1px 0 rgba(0,0,0,.4);
				cursor: pointer;
				transition: background .1s;
			}
				& .opal-tag-select__btn-remove-tag::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 12px;
					height: 2px;
					background: #fff;
					content: '';
				}

			& .opal-tag-select__btn-remove-tag:hover {
				background: hsl(208,26%,48%);
			}

			& .opal-tag-select__btn-remove-tag:focus {
				outline: none;
			}
				@nest
				body:not(._no-focus-highlight) & .opal-tag-select__btn-remove-tag:focus::after {
					position: absolute;
					top: 2px;
					right: 2px;
					bottom: 2px;
					left: 2px;
					border: 1px solid rgba(255,255,255,.8);
					border-radius: inherit;
					content: '';
					pointer-events: none;
				}

			& .opal-tag-select__btn-remove-tag:active {
				background: hsl(208,6%,28%);
			}

		& .opal-tag-select__tag[disabled] {
			margin-right: 3px;
			padding-right: 16px;
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}
			& .opal-tag-select__tag[disabled] .opal-tag-select__btn-remove-tag {
				display: none;
			}

	& .opal-tag-select__control {
		display: inline-block;
		white-space: nowrap;
		cursor: pointer;
		user-select: none;
	}
		& .opal-tag-select__placeholder {
		}

		& .opal-tag-select__select {
		}
			& .opal-tag-select__select-button {
			}

	/* States */

	&[type=action] {
		& .opal-tag-select__tag {
			background: hsl(208,100%,48%);
		}
			& .opal-tag-select__btn-remove-tag {
				background: hsl(208,90%,38%);
			}

			& .opal-tag-select__btn-remove-tag:hover {
				background: hsl(208,100%,48%);
			}

			& .opal-tag-select__btn-remove-tag:active {
				background: hsl(208,80%,28%);
			}
	}

	&[type=danger] {
		& .opal-tag-select__tag {
			background: hsl(348,96%,52%);
		}
			& .opal-tag-select__btn-remove-tag {
				background: hsl(348,86%,42%);
			}

			& .opal-tag-select__btn-remove-tag:hover {
				background: hsl(348,96%,52%);
			}

			& .opal-tag-select__btn-remove-tag:active {
				background: hsl(348,76%,32%);
			}
	}
}