.opal-input-validator {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 0;

	& .opal-input-validator__input {
		display: block;
	}

	/* States */

	&[valid=no] .opal-input-validator__input .opal-text-input__input {
		border-color: hsl(0,100%,50%);
	}
}