.opal-select {
	position: relative;
	display: inline-block;
}
	.opal-select__button {
		min-width: 100%;
	}
		.opal-select__icon-chevron-down {
			display: inline-block;
			margin-left: .25em;
			width: 13px;
			height: 13px;
			vertical-align: middle;
			transition: transform .1s linear;
			fill: currentColor;
		}

		.opal-select__button[checked] .opal-select__icon-chevron-down {
			transform: scaleY(-1);
		}

	.opal-select__menu {
	}
		.opal-select__menu-inner {
		}
			.opal-select .opal-popover {
				min-width: 100px;
			}
				.opal-select .opal-filtered-list__tf-query-wrapper {
					margin: 10px;
				}
					.opal-select .opal-loaded-list {
						height: 360px;
					}