.opal-select {
	position: relative;
	display: inline-block;

	& .opal-select__button {
		min-width: 100%;
	}
		& .opal-select__icon-chevron-down {
			display: inline-block;
			margin-left: .25em;
			width: 13px;
			height: 13px;
			vertical-align: middle;
			transition: transform .1s linear;
			fill: currentColor;
		}

	& .opal-select__button[checked] .opal-select__icon-chevron-down {
		transform: scaleY(-1);
	}

	& .opal-select__menu {
	}
		& .opal-select__menu-inner {
		}

	/* Combinations */

	& .opal-popover {
		padding: 6px 0;
		min-width: 100px;
	}

	& .opal-filtered-list .opal-filtered-list__query-input-wrapper {
		margin: 10px;
	}

	& .opal-loaded-list {
		height: 300px;
	}
}