@component OpalSignButton {
	display: inline-block;
	line-height: 0;

	@el control {
		position: relative;
		padding: 0;
		border: 0;
		background: transparent;
		color: inherit;
		white-space: nowrap;
		font: inherit;
		cursor: pointer;
		user-select: none;

		&:focus {
			outline: none;

			body:not(._noFocusHighlight) &::after {
				position: absolute;
				top: -1px;
				right: 0;
				bottom: 1px;
				left: -3px;
				border: 1px solid $primaryColor;
				border-radius: 3px;
				content: '';
				pointer-events: none;
			}
		}

		&:active {
			top: 1px;
		}
	}
		@el sign {
			position: relative;
			top: -1px;
			display: inline-block;
			box-sizing: border-box;
			margin: 3px 3px 3px 0;
			width: 28px;
			height: 28px;
			border: 2px solid;
			border-radius: 50%;
			vertical-align: middle;
			transition: border-color .1s linear;

			&::before,
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 12px;
				height: 2px;
				transition: background .1s linear;
			}

			&::after {
				transform: rotate(90deg);
			}
		}

		@el contentSlot {
		}

	@mod sign=plus {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $primaryColor600;

					&::before,
					&::after {
						background: $primaryColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $primaryColor;

				&::before,
				&::after {
					background: $primaryColor;
					content: '';
				}
			}
	}

	@mod sign=minus {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $dangerColor600;

					&::before {
						background: $dangerColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $dangerColor;

				&::before {
					background: $dangerColor;
					content: '';
				}
			}
	}

	@mod viewType=default {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $defaultColor600;

					&::before,
					&::after {
						background: $defaultColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $defaultColor;

				&::before,
				&::after {
					background: $defaultColor;
				}
			}
	}

	@mod viewType=primary {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $primaryColor600;

					&::before,
					&::after {
						background: $primaryColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $primaryColor;

				&::before,
				&::after {
					background: $primaryColor;
				}
			}
	}

	@mod viewType=success {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $successColor600;

					&::before,
					&::after {
						background: $successColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $successColor;

				&::before,
				&::after {
					background: $successColor;
				}
			}
	}

	@mod viewType=warning {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $warningColor600;

					&::before,
					&::after {
						background: $warningColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $warningColor;

				&::before,
				&::after {
					background: $warningColor;
				}
			}
	}

	@mod viewType=danger {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: $dangerColor600;

					&::before,
					&::after {
						background: $dangerColor600;
					}
				}
			}
		}
			@el sign {
				border-color: $dangerColor;

				&::before,
				&::after {
					background: $dangerColor;
				}
			}
	}

	@mod checked {
		@el control {
			top: 1px;
		}
	}

	@mod disabled {
		opacity: .5;
		pointer-events: none;

		@el control {
			cursor: default;
		}
	}
}