@component OpalSignButton {
	display: inline-block;
	line-height: 0;

	@el control {
		position: relative;
		padding: 0;
		border: 0;
		background: transparent;
		color: inherit;
		white-space: nowrap;
		font: inherit;
		cursor: pointer;
		user-select: none;

		&:focus {
			outline: none;

			body:not(._noFocusHighlight) &::after {
				position: absolute;
				top: -2px;
				right: 0;
				bottom: 1px;
				left: -2px;
				border: 1px solid var(--primaryColor500, $primaryColor);
				border-radius: 3px;
				content: '';
				pointer-events: none;
			}
		}

		&:active {
			top: 1px;
		}
	}
		@el sign {
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			margin: 3px 3px 3px 0;
			width: 28px;
			border: 2px solid;
			border-radius: 50%;
			line-height: 24px;
			transition: border-color .1s linear;

			&::before,
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 12px;
				height: 2px;
				transition: background .1s linear;
			}

			&::after {
				transform: rotate(90deg);
			}
		}

		@el contentSlot {
		}

	@mod sign=plus {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--primaryColor600, $primaryColor600);

					&::before,
					&::after {
						background: var(--primaryColor600, $primaryColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--primaryColor500, $primaryColor);

				&::before,
				&::after {
					background: var(--primaryColor500, $primaryColor);
					content: '';
				}
			}
	}

	@mod sign=minus {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--dangerColor600, $dangerColor600);

					&::before {
						background: var(--dangerColor600, $dangerColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--dangerColor500, $dangerColor);

				&::before {
					background: var(--dangerColor500, $dangerColor);
					content: '';
				}
			}
	}

	@mod viewType=default {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--defaultColor600, $defaultColor600);

					&::before,
					&::after {
						background: var(--defaultColor600, $defaultColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--defaultColor500, $defaultColor);

				&::before,
				&::after {
					background: var(--defaultColor500, $defaultColor);
				}
			}
	}

	@mod viewType=primary {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--primaryColor600, $primaryColor600);

					&::before,
					&::after {
						background: var(--primaryColor600, $primaryColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--primaryColor500, $primaryColor);

				&::before,
				&::after {
					background: var(--primaryColor500, $primaryColor);
				}
			}
	}

	@mod viewType=success {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--successColor600, $successColor600);

					&::before,
					&::after {
						background: var(--successColor600, $successColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--successColor500, $successColor);

				&::before,
				&::after {
					background: var(--successColor500, $successColor);
				}
			}
	}

	@mod viewType=warning {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--warningColor600, $warningColor600);

					&::before,
					&::after {
						background: var(--warningColor600, $warningColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--warningColor500, $warningColor);

				&::before,
				&::after {
					background: var(--warningColor500, $warningColor);
				}
			}
	}

	@mod viewType=danger {
		@el control {
			&:hover,
			&:active {
				@el sign {
					border-color: var(--dangerColor600, $dangerColor600);

					&::before,
					&::after {
						background: var(--dangerColor600, $dangerColor600);
					}
				}
			}
		}
			@el sign {
				border-color: var(--dangerColor500, $dangerColor);

				&::before,
				&::after {
					background: var(--dangerColor500, $dangerColor);
				}
			}
	}

	@mod checked {
		@el control {
			top: 1px;
		}
	}

	@mod disabled {
		opacity: .5;
		pointer-events: none;

		@el control {
			cursor: default;
		}
	}
}