@component opal-tree-list {
	position: relative;
	display: block;

	@el nothing-found {
		box-sizing: border-box;
		padding: 12px;
		height: 100%;
		text-align: center;
		white-space: nowrap;

		&::before {
			display: inline-block;
			width: 0;
			height: 100%;
			content: '';
			vertical-align: middle;
		}
	}
		@el nothing-found-message {
			display: inline-block;
			vertical-align: middle;
			opacity: .6;
		}

	@el loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}