.opal-tab {
	display: inline-block;
}
	.opal-tab__control {
		position: relative;
		display: block;
		padding: 5px 22px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background: #fff;
		color: #000;
		text-align: center;
		text-shadow: none;
		white-space: nowrap;
		font: 16px/24px Verdana, Geneva, sans-serif;
		font-weight: normal;
		cursor: pointer;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;
	}
		.opal-tab__content {
			position: relative;
			display: block;
		}

.opal-tab__control:hover {
	background: hsl(0,0%,90%);
}

.opal-tab__control:focus {
	outline: none;
}
	body:not(._no-focus-highlight) .opal-tab__control:focus::after {
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		border-radius: inherit;
		box-shadow: inset 0 0 0 1px hsl(208,100%,60%);
		content: '';
		pointer-events: none;
	}

.opal-tab__control:active {
	background: hsl(0,0%,80%);
}

.opal-tab[selected] .opal-tab__control {
	box-shadow: 0 3px hsl(208,94%,54%);
}

.opal-tab[disabled] {
	opacity: .5;
	pointer-events: none;
}
	.opal-tab[disabled] .opal-tab__control {
		cursor: default;
	}