.opal-filtered-list {
	& .opal-filtered-list__query-input-wrapper {
		display: block;
		margin-bottom: 15px;
	}
		& .opal-filtered-list__query-input {
			display: block;
			width: auto;
		}

	& .opal-filtered-list__loaded-list-wrapper {
	}
		& .opal-filtered-list__loaded-list {
		}
}