opal-dropdown {
	display: none;
}

@component OpalDropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 600;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	margin: 2px 0;
	padding: 6px 0;
	min-width: 100%;
	border: 1px solid var(--grayColor800, $grayColor800);
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	line-height: 1.5;
	cursor: default;

	@el contentSlot {
		position: relative;
		display: block;
	}

	@mod opened {
		display: block;
	}
}