@component opal-popover {
	position: absolute;
	z-index: 100;
	display: none;
	box-sizing: border-box;
	padding: 15px;
	border: 1px solid hsl(0,0%,80%);
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	line-height: 1.5;
	cursor: default;

	@el arrow {
		position: absolute;
		z-index: 1;
		width: 0;
		height: 0;

		&::before,
		&::after {
			position: absolute;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			content: '';
		}

		&::after {
			border: 8px solid transparent;
		}
	}

	@el content {
		position: relative;
		display: block;
	}

	@mod from=top {
		bottom: 100%;
		margin-bottom: 15px;

		@el arrow {
			top: 100%;

			&::before,
			&::after {
				border-top-color: hsl(0,0%,80%);
				border-bottom-width: 0;
				transform: translateX(-50%);
			}

			&::after {
				border-top-color: #fff;
			}
		}

		@mod align=center {
			left: 50%;
			transform: translateX(-50%);

			@el arrow {
				left: 50%;
			}
		}

		@mod align=left {
			left: 0;

			@el arrow {
				transform: translateX(-1px);
			}
		}

		@mod align=right {
			right: 0;

			@el arrow {
				transform: translateX(1px);
			}
		}
	}

	@mod from=right {
		left: 100%;
		margin-left: 15px;

		@el arrow {
			right: 100%;

			&::before,
			&::after {
				right: 0;
				border-right-color: hsl(0,0%,80%);
				border-left-width: 0;
				transform: translateY(-50%);
			}

			&::after {
				border-right-color: #fff;
			}
		}

		@mod align=center {
			top: 50%;
			transform: translateY(-50%);

			@el arrow {
				top: 50%;
			}
		}

		@mod align=top {
			top: 0;

			@el arrow {
				transform: translateY(-1px);
			}
		}

		@mod align=bottom {
			bottom: 0;

			@el arrow {
				transform: translateY(1px);
			}
		}
	}

	@mod from=bottom {
		top: 100%;
		margin-top: 15px;

		@el arrow {
			bottom: 100%;

			&::before,
			&::after {
				bottom: 0;
				border-top-width: 0;
				border-bottom-color: hsl(0,0%,80%);
				transform: translateX(-50%);
			}

			&::after {
				border-bottom-color: #fff;
			}
		}

		@mod align=center {
			left: 50%;
			transform: translateX(-50%);

			@el arrow {
				left: 50%;
			}
		}

		@mod align=left {
			left: 0;

			@el arrow {
				transform: translateX(-1px);
			}
		}

		@mod align=right {
			right: 0;

			@el arrow {
				transform: translateX(1px);
			}
		}
	}

	@mod from=left {
		right: 100%;
		margin-right: 15px;

		@el arrow {
			left: 100%;

			&::before,
			&::after {
				left: 0;
				border-right-width: 0;
				border-left-color: hsl(0,0%,80%);
				transform: translateY(-50%);
			}

			&::after {
				border-left-color: #fff;
			}
		}

		@mod align=center {
			top: 50%;
			transform: translateY(-50%);

			@el arrow {
				top: 50%;
			}
		}

		@mod align=top {
			top: 0;

			@el arrow {
				transform: translateY(-1px);
			}
		}

		@mod align=bottom {
			bottom: 0;

			@el arrow {
				transform: translateY(1px);
			}
		}
	}

	@mod opened {
		display: block;
		animation: opal-popover-fade-in-animation .1s linear;
	}
}

@keyframes opal-popover-fade-in-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}