@component OpalFileUpload {
	display: block;
	box-sizing: border-box;
	padding: 12px;
	min-width: 400px;
	border: 1px solid hsl(0,0%,80%);
	color: hsl(0,0%,30%);
	font-size: 1rem;
	line-height: 1.5;

	@el fileList {
		margin: 0;
		padding: 0;
		list-style: none;
	}
		@el file {
			position: relative;
			margin-bottom: 10px;
			padding: 12px 52px 12px 20px;
			border-radius: 3px;
			background: hsl(0,0%,95%);
			cursor: move;

			@mod ghost {
				opacity: .4;
			}
		}
			@el filePreviewWrapper {
				display: inline-flex;
				margin-right: 10px;
				width: 48px;
				height: 48px;
				vertical-align: middle;
				justify-content: center;
				align-items: center;
			}
				@el fileLoader {
					border: 0;
				}

				@el filePreview {
					max-width: 100%;
					max-height: 100%;
					border: 0;
					border-radius: 3px;
				}

				@el fileIcon {
					width: 36px;
					height: 36px;
					stroke: currentColor;
					stroke-linecap: butt;
					stroke-linejoin: miter;
					fill: none;
				}

			@el fileText {
				vertical-align: middle;
				font-weight: bold;
			}

			@el btnRemoveFile {
				position: absolute;
				top: 0;
				right: 10px;
				bottom: 0;
				display: flex;
				margin: auto;
				width: 42px;
				height: 42px;
				border: 0;
				background: transparent;
				opacity: .5;
				cursor: pointer;
				transition: opacity .1s;
				justify-content: center;
				align-items: center;

				&:hover {
					opacity: 1;
				}

				&:active {
					transform: translateY(1px);
				}
			}
				@el btnRemoveFileIcon {
					display: block;
					width: 24px;
					height: 24px;
					stroke: currentColor;
					stroke-linecap: butt;
					stroke-linejoin: miter;
					fill: none;
				}

	@el dropZone {
		position: relative;
		padding: 25px;
		border: 2px dashed hsl(0,0%,60%);
		border-radius: 5px;
		background: hsl(0,0%,95%);
		color: hsl(0,0%,50%);
		text-align: center;
		cursor: pointer;

		@mod hovering {
			border-color: hsl(208,90%,52%);

			@el dropZoneText {
				pointer-events: none;
			}
		}

		@mod error {
			@el dropZoneErrorMessageWrapper {
				display: block;
			}
		}
	}
		@el dropZoneErrorMessageWrapper {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			border-radius: inherit;
			background: inherit;
			white-space: nowrap;
			font-size: 0;

			&::after {
				display: inline-block;
				width: 0;
				height: 100%;
				content: '';
				vertical-align: middle;
			}
		}
			@el dropZoneErrorMessage {
				color: hsl(0,100%,50%);
				vertical-align: middle;
				font-size: 1rem;
			}

		@el dropZoneText {
		}
			@el btnSelectFiles {
				display: inline;
				padding: 0;
				border: 0;
				background: transparent;
				color: hsl(208,90%,52%);
				font: inherit;
				cursor: inherit;
			}

	@el filesInput {
		display: none;
	}
}