@component OpalSelectOption {
	display: block;

	@el control {
		position: relative;
		display: block;
		box-sizing: border-box;
		padding: 7px 38px 7px 22px;
		width: 100%;
		border: 0;
		border-radius: 0;
		background: #fff;
		color: var(--textColor500, $textColor);
		text-align: left;
		text-shadow: none;
		white-space: nowrap;
		font: 16px/24px Verdana, Geneva, sans-serif;
		font-weight: normal;
		cursor: pointer;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background: var(--grayColor900, $grayColor900);
		}

		&:focus {
			outline: none;

			body:not(._noFocusHighlight) &::after {
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				box-shadow: inset 0 0 0 1px var(--primaryColor650, $primaryColor650);
				content: '';
				pointer-events: none;
			}
		}

		&:active {
			background: var(--grayColor800, $grayColor800);
		}
	}
		@el contentSlot {
			position: relative;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;

			sub {
				bottom: 0;
				display: block;
				color: var(--grayColor500, $grayColor);
				font-size: .9em;
				line-height: 1.5;
			}
		}

		@el iconSelected,
			iconIndeterminate
		{
			position: absolute;
			top: 0;
			right: 14px;
			bottom: 0;
			margin: auto;
			width: 16px;
			height: 16px;
			color: var(--textColor500, $textColor);
		}

	@mod selected,
		indeterminate
	{
		@el control {
			color: var(--primaryColor500, $primaryColor);
		}
	}

	@mod disabled {
		pointer-events: none;

		@el control {
			cursor: default;
		}
			@el contentSlot {
				color: var(--grayColor500, $grayColor);
			}
	}
}