.opal-switch-menu {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 0;

	& .opal-switch-menu__content {
	}

	/* Combinations */

	& .opal-button:not([type=clean]):not(:first-child) .opal-button__control {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		box-shadow: inset 1px 0 rgba(0,0,0,.4);
	}

	& .opal-button:not([type=clean]):not(:last-child) .opal-button__control {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}