.opal-checkbox {
	position: relative;
	display: inline-block;

	& .opal-checkbox__label {
	}
		& .opal-checkbox__input {
			display: none;
		}

		& .opal-checkbox__control {
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			margin-top: -2px;
			width: 22px;
			height: 22px;
			border: 2px solid hsl(0,0%,64%);
			border-radius: 3px;
			background: #fff;
			vertical-align: middle;
			user-select: none;
		}

		& .opal-checkbox__content {
		}

	/* States */

	& .opal-checkbox__label:hover .opal-checkbox__control {
		border-color: hsl(0,0%,54%);
	}

	& .opal-checkbox__control:focus,
	& .opal-checkbox__label:hover .opal-checkbox__control:focus {
		outline: none;
		border-color: hsl(208,100%,60%);
	}

	&[checked] .opal-checkbox__control::before {
		position: absolute;
		top: 1px;
		left: 6px;
		width: 5px;
		height: 10px;
		border: solid #000;
		border-width: 0 2px 2px 0;
		content: '';
		transform: rotate(45deg);
	}

	&[indeterminate] .opal-checkbox__control::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 12px;
		height: 2px;
		background: #000;
		content: '';
	}

	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}
		&[disabled] .opal-checkbox__control {
			background: hsl(0,0%,90%);
		}
}