@component opal-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	@el button {
		display: block;
		min-width: 100%;

		@mod size=s {
			@el icon-chevron-down {
				width: 12px;
				height: 12px;
			}
		}

		@mod checked {
			@el icon-chevron-down {
				transform: scaleY(-1);
			}
		}
	}
		@el icon-chevron-down {
			display: inline-block;
			margin-left: .25em;
			width: 14px;
			height: 14px;
			vertical-align: middle;
			transition: transform .1s linear;
			fill: currentColor;
		}

	@el menu {
	}
		@el menu-content {
		}
			@el new-item-input-container {
			}
				@el new-item-input {
					display: block;
					margin: 6px 10px 4px;
					width: auto;
				}

	/* Combinations */

	& .opal-popover {
		padding: 6px 0;
		min-width: 140px;
	}

	& .opal-popover .opal-popover__content {
		overflow: auto;
		max-height: 380px;
	}

	& .opal-filtered-list .opal-filtered-list__query-input {
		margin: 4px 10px 6px;
	}

	& .opal-loaded-list {
		height: 304px; /* 38 * 8 */
	}
}