.opal-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	& .opal-select__button {
		display: block;
		min-width: 100%;
	}
		& .opal-select__icon-chevron-down {
			display: inline-block;
			margin-left: .25em;
			width: 14px;
			height: 14px;
			vertical-align: middle;
			transition: transform .1s linear;
			fill: currentColor;
		}

		& .opal-select__button[size=s] .opal-select__icon-chevron-down {
			width: 12px;
			height: 12px;
		}

	& .opal-select__button[checked] .opal-select__icon-chevron-down {
		transform: scaleY(-1);
	}

	& .opal-select__menu {
	}
		& .opal-select__menu-content {
		}
			& .opal-select__new-item-input-container {
			}
				& .opal-select__new-item-input {
					display: block;
					margin: 6px 10px 4px;
					width: auto;
				}

			& .opal-select__btn-close-container {
			}
				& .opal-select__btn-close {
					display: block;
					margin: 6px 10px 4px;
				}

	/* Combinations */

	& .opal-popover {
		padding: 6px 0;
		min-width: 100px;
	}

	& .opal-filtered-list .opal-filtered-list__query-input {
		margin: 4px 10px 6px;
	}

	& .opal-loaded-list {
		height: 300px;
	}
}