.opal-text-input {
	position: relative;
	display: inline-block;
	width: 400px;
	vertical-align: middle;

	& .opal-text-input__input {
		display: block;
		box-sizing: border-box;
		padding: 6px 11px;
		width: 100%;
		border: 1px solid hsl(0,0%,68%);
		border-top-color: hsl(0,0%,66%);
		border-bottom-color: hsl(0,0%,78%);
		border-radius: 3px;
		background: #fff;
		box-shadow: inset 0 1px rgba(0,0,0,.1);
		color: #000;
		text-shadow: none;
		font: 16px/24px Verdana, Geneva, sans-serif;
		font-weight: normal;
		transition: border-color .1s linear;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;
	}

	& .opal-text-input__btn-clear {
		position: absolute;
		top: 0;
		right: 10px;
		bottom: 0;
		display: none;
		margin: auto;
		padding: 0;
		width: 23px;
		height: 23px;
		border: 0;
		border: 1px solid transparent;
		border-radius: 3px;
		background: transparent;
		opacity: .5;
		cursor: pointer;
		transition: opacity .1s;
	}
		& .opal-text-input__btn-clear::before,
		& .opal-text-input__btn-clear::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 18px;
			height: 1px;
			background: #000;
			content: '';
			transform: rotate(45deg);
		}

		& .opal-text-input__btn-clear::after {
			transform: rotate(-45deg);
		}

	& .opal-text-input__btn-clear[shown] {
		display: block;
	}

	& .opal-text-input__btn-clear:hover {
		background: hsl(0,0%,90%);
		opacity: 1;
	}

	& .opal-text-input__btn-clear:focus {
		outline: none;
	}
		@nest
		body:not(._no-focus-highlight) & .opal-text-input__btn-clear:focus {
			border-color: hsl(208,100%,60%);
			opacity: 1;
		}

	& .opal-text-input__btn-clear:active {
		background: hsl(0,0%,80%);
	}

	& .opal-text-input__loader,
	& .opal-text-input__loader[size=s] {
		position: absolute;
		top: 0;
		right: 12px;
		bottom: 0;
		margin: auto;
		pointer-events: none;
	}

	/* States */

	&:hover .opal-text-input__input {
		border-color: hsl(0,0%,58%);
		border-top-color: hsl(0,0%,56%);
		border-bottom-color: hsl(0,0%,68%);
	}

	& .opal-text-input__input:focus {
		outline: none;
		border-color: hsl(208,100%,60%);
	}

	&[multiline]:not([auto-height=no]) .opal-text-input__input {
		overflow-y: hidden;
	}

	&[valid] .opal-text-input__input {
		border-color: hsl(120,90%,35%);
	}

	&[valid=no] .opal-text-input__input {
		border-color: hsl(0,100%,50%);
	}

	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}
		&[disabled] .opal-text-input__input {
			background: hsl(0,0%,90%);
		}

	/* Combinations */

	@nest
	.opal-group .opal-group__content > &:not(:first-child),
	.opal-group .opal-group__content > *:not(:first-child) & {
		margin-right: -1px;
	}

	@nest
	.opal-group__content &:not(:first-child) .opal-text-input__input,
	.opal-group__content *:not(:first-child) & .opal-text-input__input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	@nest
	.opal-group__content &:not(:last-child) .opal-text-input__input,
	.opal-group__content *:not(:last-child) & .opal-text-input__input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}