@component OpalAutosuggest {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	@el textInput {
		display: block;
	}
		@el textInputEndIcon {
		}

	@el menu {
	}
		@el optionList {
		}
			@el option {
				position: relative;
				overflow: hidden;
				padding: 7px 22px;
				background: #fff;
				color: var(--textColor50, $textColor50);
				text-align: left;
				text-overflow: ellipsis;
				text-shadow: none;
				white-space: nowrap;
				font: 16px/24px Verdana, Geneva, sans-serif;
				font-weight: normal;
				cursor: pointer;
				user-select: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				-webkit-tap-highlight-color: transparent;

				&:hover,
				&[focused] {
					background: var(--grayColor900, $grayColor900);
				}

				&:active {
					background: var(--grayColor800, $grayColor800);
				}

				sub {
					bottom: 0;
					display: block;
					font-size: .9em;
					line-height: 1.5;
					opacity: .5;
				}
			}

		@el nothingFoundSlot {
			display: block;
			padding: 12px;
			text-align: center;
		}
			@el nothingFound {
			}
				@el nothingFoundMessage {
					white-space: nowrap;
					opacity: .6;
				}

		@el menuFooter {
			display: block;
			margin: 12px 22px;
		}

	/* Combinations */

	.OpalTextInputValidator & {
		display: block;
	}
}