@component OpalAutosuggest {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	@el text-input {
		display: block;
	}
		@el text-input-final-icon {
		}

	@el menu {
	}
		@el list {
		}
			@el list-item {
				position: relative;
				overflow: hidden;
				padding: 7px 22px;
				background: #fff;
				color: #000;
				text-align: left;
				text-overflow: ellipsis;
				text-shadow: none;
				white-space: nowrap;
				font: 16px/24px Verdana, Geneva, sans-serif;
				font-weight: normal;
				cursor: pointer;
				user-select: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				-webkit-tap-highlight-color: transparent;

				&:hover,
				&[focused] {
					background: hsl(0,0%,90%);
				}

				&:active {
					background: hsl(0,0%,80%);
				}

				sub {
					bottom: 0;
					display: block;
					font-size: .9em;
					line-height: 1.5;
					opacity: .5;
				}
			}

		@el nothing-found-slot {
			display: block;
			padding: 12px;
			text-align: center;
		}
			@el nothing-found {
			}
				@el nothing-found-message {
					white-space: nowrap;
					opacity: .6;
				}

	/* Combinations */

	.OpalTextInputValidator & {
		display: block;
	}
}