.opal-autosuggest {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	& .opal-autosuggest__text-input {
		display: block;
	}

	& .opal-autosuggest__menu {
	}
		& .opal-autosuggest__list {
		}
			& .opal-autosuggest__list-item {
				position: relative;
				padding: 7px 22px;
				background: #fff;
				color: #000;
				text-align: left;
				text-shadow: none;
				white-space: nowrap;
				font: 16px/24px Verdana, Geneva, sans-serif;
				font-weight: normal;
				cursor: pointer;
				user-select: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				-webkit-tap-highlight-color: transparent;
			}

			& .opal-autosuggest__list-item:hover,
			& .opal-autosuggest__list-item[focused] {
				background: hsl(0,0%,90%);
			}

			& .opal-autosuggest__list-item:active {
				background: hsl(0,0%,80%);
			}

		& .opal-autosuggest__not-found-message {
			display: none;
			padding: 10px;
			text-align: center;
			white-space: nowrap;
			opacity: .6;
		}

		& .opal-autosuggest__not-found-message[shown] {
			display: block;
		}

	/* Combinations */

	.opal-input-validator & {
		display: block;
	}
}