@component OpalMultirowRow {
	display: block;
	white-space: nowrap;

	&::after {
		display: table;
		clear: both;
		content: '';
	}

	@el content-slot {
		display: inline-block;
		margin-bottom: 20px;
		padding-right: 6px;
	}

	@el btn-remove-row,
		btn-add-row
	{
		position: relative;
		top: 1px;
		display: none;
	}

	@el btn-remove-row {
	}

	@el btn-add-row {
	}

	.OpalMultirow__preset-rows-slot[not-have-new-rows] &:last-child .OpalMultirowRow__content-slot,
	.OpalMultirow__new-rows rt-slot:last-child & .OpalMultirowRow__content-slot {
		margin-bottom: 0;
	}

	.OpalMultirow__preset-rows-slot[not-single-row] & .OpalMultirowRow__btn-remove-row,
	.OpalMultirow__new-rows[not-single-row] & .OpalMultirowRow__btn-remove-row,
	.OpalMultirow__preset-rows-slot[not-have-new-rows] &:last-child .OpalMultirowRow__btn-add-row,
	.OpalMultirow__new-rows rt-slot:last-child & .OpalMultirowRow__btn-add-row {
		display: inline-block;
	}

	/* Combinations */

	& .OpalPopover {
		white-space: normal;
	}
}