@component opal-tree-list-item {
	display: block;

	@el head {
		display: table;
	}
		@el btn-toggle-children {
			position: relative;
			display: table-cell;
			visibility: hidden;
			padding-right: 4px;
			vertical-align: middle;
			text-align: center;

			&:focus {
				outline: none;

				body:not(._no-focus-highlight) &::after {
					position: absolute;
					top: 1px;
					right: 2px;
					bottom: 1px;
					left: -2px;
					border-radius: 2px;
					box-shadow: inset 0 0 0 1px hsl(208,100%,60%);
					content: '';
					pointer-events: none;
				}
			}

			@mod checked {
				@el btn-toggle-children-icon {
					transform: rotate(0);
				}
			}
		}
			@el btn-toggle-children-icon {
				display: block;
				width: 14px;
				height: 14px;
				transition: transform .1s linear;
				transform: rotate(-90deg);
				fill: currentColor;
			}

		@el content-wrapper {
			display: table-cell;
			width: 100%;
		}
			@el content {
			}
				@el selection-control {
				}

	@el children {
		display: none;
		padding-left: 16px;
	}

	@mod opened {
		& > .opal-tree-list-item__children {
			display: block;
		}
	}

	@mod nesting-level=0 {
		font-weight: bold;
	}
	@mod nesting-level=1 {
		font-weight: normal;
	}

	@mod has-children {
		& > .opal-tree-list-item__head .opal-tree-list-item__btn-toggle-children {
			visibility: visible;
		}
	}
}