@component OpalTreeListItem {
	display: block;

	@el head {
		display: table;
	}
		@el btn-toggle-children {
			position: relative;
			display: table-cell;
			visibility: hidden;
			padding-right: 6px;
			padding-left: 2px;
			vertical-align: middle;
			text-align: center;

			&:focus {
				outline: none;

				body:not(._no-focus-highlight) &::after {
					position: absolute;
					top: 1px;
					right: 4px;
					bottom: 1px;
					left: 0;
					border-radius: 2px;
					box-shadow: inset 0 0 0 1px hsl(208,94%,54%);
					content: '';
					pointer-events: none;
				}
			}

			@mod checked {
				@el btn-toggle-children-icon {
					transform: rotate(0);
				}
			}
		}
			@el btn-toggle-children-icon {
				display: block;
				width: 14px;
				height: 14px;
				transition: transform .1s linear;
				transform: rotate(-90deg);
				stroke-width: 3px;
				stroke: currentColor;
				stroke-linecap: round;
				stroke-linejoin: round;
				fill: none;
			}

		@el content-slot-wrapper {
			display: table-cell;
			width: 100%;
		}
			@el content-slot {
			}
				@el selection-control {
				}

	@el children {
		display: none;
		padding-left: 24px;
	}

	@mod opened {
		& > .OpalTreeListItem__children {
			display: block;
		}
	}

	@mod nesting-level=0 {
		font-weight: bold;
	}
	@mod nesting-level=1 {
		font-weight: normal;
	}

	@mod has-children {
		& > .OpalTreeListItem__head .OpalTreeListItem__btn-toggle-children {
			visibility: visible;
		}
	}
}