.opal-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	margin: 2px 0;
	padding: 6px 0;
	min-width: 100%;
	border: 1px solid hsl(0,0%,80%);
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	line-height: 1.5;
	cursor: default;

	& .opal-dropdown__content {
		position: relative;
		display: block;
	}

	/* States */

	&[opened] {
		display: block;
	}
}