@component OpalTab {
	display: inline-block;

	@el control {
		position: relative;
		display: block;
		padding: 5px 22px;
		border: 0;
		border-radius: 0;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background: #fff;
		color: var(--textColor50, $textColor50);
		text-align: center;
		text-shadow: none;
		white-space: nowrap;
		font: 16px/24px Verdana, Geneva, sans-serif;
		font-weight: normal;
		cursor: pointer;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background: var(--grayColor900, $grayColor900);
		}

		&:focus {
			outline: none;

			body:not(._noFocusHighlight) &::after {
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				border-radius: inherit;
				box-shadow: inset 0 0 0 1px var(--primaryColor500, $primaryColor);
				content: '';
				pointer-events: none;
			}
		}

		&:active {
			background: var(--grayColor800, $grayColor800);
		}
	}
		@el contentSlot {
			position: relative;
			display: block;
		}

	@mod selected {
		@el control {
			box-shadow: 0 3px var(--primaryColor500, $primaryColor);
		}
	}

	@mod hidden {
		display: none;
	}

	@mod disabled {
		opacity: .5;
		pointer-events: none;

		@el control {
			cursor: default;
		}
	}
}