.opal-multirow-row {
	display: block;
	white-space: nowrap;

	&::after {
		display: table;
		clear: both;
		content: '';
	}

	& .opal-multirow-row__content {
		display: inline-block;
		margin-bottom: 20px;
		padding-right: 6px;
	}

	& .opal-multirow-row__btn-remove-row,
	& .opal-multirow-row__btn-add-row {
		position: relative;
		top: 1px;
		display: none;
	}

	& .opal-multirow-row__btn-remove-row {
	}

	& .opal-multirow-row__btn-add-row {
	}

	.opal-multirow__preset-rows-container[not-have-new-rows] &:last-child .opal-multirow-row__content,
	.opal-multirow__new-rows rt-content:last-child & .opal-multirow-row__content {
		margin-bottom: 0;
	}

	.opal-multirow__preset-rows-container[not-single-row] & .opal-multirow-row__btn-remove-row,
	.opal-multirow__new-rows[not-single-row] & .opal-multirow-row__btn-remove-row,
	.opal-multirow__preset-rows-container[not-have-new-rows] &:last-child .opal-multirow-row__btn-add-row,
	.opal-multirow__new-rows rt-content:last-child & .opal-multirow-row__btn-add-row {
		display: inline-block;
	}

	/* Combinations */

	& .opal-popover {
		white-space: normal;
	}
}