@component OpalFilteredList {
	display: block;

	@el queryInputSlot {
		display: block;
	}
		@el queryInput {
			display: block;
			margin-bottom: 15px;
			width: auto;
		}
			@el queryInputFinalIcon {
			}

	@el listSlot {
	}
		@el list {
		}
}