.opal-date-input {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 0;

	& .opal-popover {
		line-height: 1.5;
	}

	& .opal-date-input__input {
		display: block;
	}
}