@component OpalTreeSelect : OpalSelect {
	.OpalModal__window {
		box-sizing: border-box;
		width: 80%;
	}

	@el headerSlot {
	}
		@el header {
			font-size: 1.5em;
			margin-bottom: .8em;
		}

	@el filteredList {
	}
		@el treeList {
			overflow: auto;
			height: 410px;
		}

	@el footer {
		padding-top: 10px;
	}
		@el btnClose {
			float: right;
		}
}