{{block preset_rows }}
	<rt-content class="opal-multirow__preset-rows-container"
			select="opal-multirow-row[preset], .opal-multirow__preset-rows"
			not-have-new-rows="{_notHaveNewRows}" not-single-row="{_notSingleRow}"></rt-content>
{{/block}}

<div class="opal-multirow__new-rows-container" not-have-preset-rows="{_notHavePresetRows}"
		not-single-row="{_notSingleRow}">
	<template is="rt-repeat" for="row of _newRows" track-by="key" rt-silent>
		{{block row }}
			<rt-content select="opal-multirow-row:not([preset])" data-key="{row.key}"></rt-content>
		{{/block}}
	</template>
</div>