@component OpalLoadedList {
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 460px;

	@el list {
	}
		@el listItem {
			display: block;
		}

	@el loader {
		@mod inCenter {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	@el nothingFoundSlot {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		padding: 28px;
		justify-content: center;
		align-items: center;
	}
		@el nothingFoundMessage {
			white-space: nowrap;
			opacity: .6;

			& + .OpalSelect__btnAddItem {
				margin-top: 18px;
			}
		}

	/* Combinations */

	.OpalSelect & .OpalSelect__btnAddItem {
		display: block;
	}
}