@component OpalLoadedList {
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	height: 500px;

	@el list {
	}
		@el list-item {
			display: block;
		}

	@el loader {
		@mod align-center {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	@el nothing-found-slot {
		display: block;
		box-sizing: border-box;
		padding: 12px;
		height: 100%;
		text-align: center;
		white-space: nowrap;

		&::before {
			display: inline-block;
			width: 0;
			height: 100%;
			content: '';
			vertical-align: middle;
		}
	}
		@el nothing-found {
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
		}
			@el nothing-found-message {
				white-space: nowrap;
				opacity: .6;

				& + .OpalSelect__btn-add-new-item {
					margin-top: 18px;
				}
			}

	/* Combinations */

	.OpalSelect & .OpalSelect__btn-add-new-item {
		display: block;
	}
}