@component OpalLoadedList {
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 460px;

	@el list {
	}
		@el listItem {
			display: block;
		}

	@el loader {
		@mod inCenter {
			border-top-width: 70px;
			border-bottom-width: 70px;
		}
	}

	@el nothingFoundSlot {
		display: block;
		padding: 28px;
		text-align: center;
	}
		@el nothingFoundMessage {
			white-space: nowrap;
			opacity: .6;

			& + .OpalSelect__btnAddNewItem {
				margin-top: 18px;
			}
		}

	/* Combinations */

	.OpalSelect & .OpalSelect__btnAddNewItem {
		display: block;
	}
}