@component opal-filtered-list {
	@el query-input-container {
		display: block;
	}
		@el query-input {
			display: block;
			margin-bottom: 15px;
			width: auto;
		}

	@el loaded-list-container {
	}
		@el loaded-list {
		}
}