@component opal-filtered-list {
	display: block;

	@el query-input-container {
		display: block;
	}
		@el query-input {
			display: block;
			margin-bottom: 15px;
			width: auto;
		}

	@el list-slot {
	}
		@el list {
		}
}