@component OpalTextInput {
	position: relative;
	display: inline-block;
	width: 400px;

	@el textField,
		textareaHeight
	{
		display: block;
		box-sizing: border-box;
		padding: 6px 36px 6px 12px; /* 3 + 24 + 9 */
		width: 100%;
		border: 1px solid var(--grayColor700, $grayColor700);
		border-top-color: var(--grayColor650, $grayColor650);
		border-bottom-color: var(--grayColor800, $grayColor800);
		border-radius: 3px;
		background: #fff;
		box-shadow: inset 0 1px rgba(0,0,0,.1);
		color: var(--textColor50, $textColor50);
		text-shadow: none;
		font: 16px/24px Verdana, Geneva, sans-serif;
		font-weight: normal;
		transition: border-color .1s linear;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;

		&::-webkit-input-placeholder {
			color: var(--textColor650, $textColor650);
			transition: color .1s linear;
		}
		&::-moz-placeholder {
			color: var(--textColor650, $textColor650);
			transition: color .1s linear;
		}
		&:-ms-input-placeholder {
			color: var(--textColor650, $textColor650);
			transition: color .1s linear;
		}

		&:hover,
		&[disabled] {
			&::-webkit-input-placeholder {
				color: var(--textColor400, $textColor400);
			}
			&::-moz-placeholder {
				color: var(--textColor400, $textColor400);
			}
			&:-ms-input-placeholder {
				color: var(--textColor400, $textColor400);
			}
		}

		&:focus {
			&::-webkit-input-placeholder {
				color: var(--textColor400, $textColor400);
			}
			&::-moz-placeholder {
				color: var(--textColor400, $textColor400);
			}
			&:-ms-input-placeholder {
				color: var(--textColor400, $textColor400);
			}
		}
	}

	/* http://www.brianchu.com/blog/2013/11/02/creating-an-auto-growing-text-input/ */
	@el textareaContainer {
		position: relative;
	}
		@el textarea {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 100%;
			resize: none;
		}

		@el textareaHeight {
			visibility: hidden;
			white-space: pre-wrap;
			word-wrap: break-word;
			overflow-wrap: break-word;
		}

	@el startIcon,
		endIcon
	{
		position: absolute;
		top: 0;
		bottom: 0;
		display: block;
		margin: auto;
		width: 18px;
		height: 18px;
		color: var(--grayColor500, $grayColor);
	}

	@el startIcon {
		left: 12px;
	}

	@el endIconSlot {
		display: none;

		@mod shown {
			display: block;
		}
	}
		@el endIcon {
			right: 12px;
		}

	@el btnClear {
		position: absolute;
		top: 0;
		right: 9px;
		bottom: 0;
		display: none;
		margin: auto;
		padding: 0;
		width: 24px;
		height: 24px;
		border: 0;
		background: transparent;
		color: var(--grayColor500, $grayColor);
		cursor: pointer;
		transition: color .1s linear;

		@mod shown {
			display: block;
		}

		&:hover {
			color: var(--textColor50, $textColor50);
		}

		&:focus {
			outline: none;

			body:not(._noFocusHighlight) & {
				outline: 1px solid var(--primaryColor500, $primaryColor);
			}
		}

		&:active {
			transform: translateY(1px);
		}
	}
		@el btnClearIcon {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			margin: auto;
			width: 16px;
			height: 16px;
		}

	@el loader {
		position: absolute;
		top: 0;
		right: 12px;
		bottom: 0;
		margin: auto;
		border: 0;
		pointer-events: none;
	}

	@el btnShowPassword {
		position: absolute;
		top: 0;
		right: 9px;
		bottom: 0;
		display: block;
		margin: auto;
		padding: 0;
		width: 24px;
		height: 24px;
		border: 0;
		background: transparent;
		color: var(--grayColor500, $grayColor);
		cursor: pointer;
		transition: color .1s linear;
		pointer-events: none;

		&:hover {
			color: var(--textColor50, $textColor50);
		}

		&:focus {
			outline: none;

			body:not(._noFocusHighlight) & {
				outline: 1px solid var(--primaryColor500, $primaryColor);
			}
		}

		&:active {
			transform: translateY(1px);
		}
	}
		@el btnShowPasswordIcon {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			margin: auto;
			width: 22px;
			height: 22px;
		}

	&:hover {
		@el textField {
			border-color: var(--grayColor600, $grayColor600);
			border-top-color: var(--grayColor550, $grayColor550);
			border-bottom-color: var(--grayColor700, $grayColor700);
		}
	}

	@el textField {
		&:focus {
			outline: none;
			border-color: var(--primaryColor500, $primaryColor);
		}
	}

	@mod inputType=password {
		@el textField,
			textareaHeight
		{
			padding-right: 64px; /* 3 + 24 + 4 + 24 + 9 */
		}

		@el endIcon {
			right: 40px; /* 7 + 24 + 9 */
		}

		@el btnClear {
			right: 37px; /* 4 + 24 + 9 */
		}

		@el loader {
			right: 40px; /* 7 + 24 + 9 */
		}
	}

	@mod multiline {
		@mod not auto_height=no {
			@el textField {
				overflow-y: hidden;
			}
		}
	}

	@mod value {
		@el btnShowPassword {
			pointer-events: auto;
		}
	}

	@mod startIcon {
		@el textField {
			padding-left: 36px;
		}
	}

	@mod valid {
		@el textField {
			&,
			&:focus {
				border-color: var(--successColor500, $successColor);
			}
		}
	}

	@mod valid=no {
		@el textField {
			&,
			&:focus {
				border-color: var(--dangerColor400, $dangerColor400);
			}
		}
	}

	@mod disabled {
		opacity: .5;
		pointer-events: none;

		@el textField {
			background: var(--grayColor900, $grayColor900);
		}
	}

	/* Combinations */

	.OpalGroup > &:not(:first-child),
	.OpalGroup > *:not(:first-child) & {
		margin-right: -1px;

		.OpalTextInput__textField {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.OpalGroup > &:not(:last-child),
	.OpalGroup > *:not(:last-child) & {
		.OpalTextInput__textField {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}