.opal-loaded-list {
	position: relative;
	display: block;
	overflow-y: auto;
	height: 500px;
}
	.opal-loaded-list__not-found {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		text-align: center;
		white-space: nowrap;
	}
		.opal-loaded-list__not-found::before {
			display: inline-block;
			width: 0;
			height: 100%;
			content: '';
			vertical-align: middle;
		}

		.opal-loaded-list__not-found-message {
			color: hsl(0,0%,50%);
			vertical-align: middle;
			white-space: normal;
		}

	.opal-loaded-list__not-found[shown] {
		display: inline-block;
	}

	.opal-loaded-list__list {
	}
		.opal-loaded-list__list-item {
			display: block;
		}

	.opal-loaded-list__loader {
	}