<opal-tabs>
	<opal-tab>HTML</opal-tab>
	<opal-tab-panel>
		<pre class="opal-code-listing__html-code-wrapper"><code class="opal-code-listing__html-code"></code></pre>
	</opal-tab-panel>

	<opal-tab>JS</opal-tab>
	<opal-tab-panel>
		<pre class="opal-code-listing__js-code-wrapper"><code class="opal-code-listing__js-code"></code></pre>
	</opal-tab-panel>
</opal-tabs>

<rt-content class="opal-code-listing__example-html-container" select=".opal-code-listing__example-html"></rt-content>
<rt-content class="opal-code-listing__example-js-container" select=".opal-code-listing__example-js"></rt-content>