@component opal-code-listing {
	display: block;
	margin-bottom: 30px;

	@el html-code-wrapper,
		js-code-wrapper
	{
		overflow: auto;
		margin: 0;
		color: #000;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-wrap: normal;
		word-break: normal;
		tab-size: 4;
		hyphens: none;
		font-weight: bold;
		font-size: 16px;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		line-height: 1.5;
	}
		@el html-code,
			js-code
		{
		}

	@el example-html-container {
		position: relative;
		display: block;
		padding: 29px;
		border: 1px solid hsl(0,0%,86%);
		border-radius: 3px;
		background: #fff;

		&::before {
			position: absolute;
			top: 0;
			left: 29px;
			padding: 0 10px;
			border: 1px solid hsl(0,0%,86%);
			border-radius: 3px;
			background: hsl(0,0%,96%);
			content: 'Result';
			font: 14px/28px Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
			transform: translateY(-50%);
		}
	}

	@el example-js-container {
	}
		@el example-html {
		}

		@el example-js {
		}
}