@component OpalDateInput {
	position: relative;
	display: inline-block;

	@el textInput {
		display: block;
	}
		@el textInputEndIcon {
		}

	@el calendarMenu {
		overflow: visible;
		padding: 0;
		min-width: auto;
	}
		@el calendar {
			border: 0;
		}
}