@component OpalDateInput {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	@el text-input {
		display: block;
	}

	@el calendar-menu {
		overflow: visible;
		padding: 0;
		min-width: auto;
	}
		@el calendar {
			border: 0;
		}
}