@component OpalSwitch {
	position: relative;
	display: inline-block;

	@el label {
		&:hover {
			@el thumb {
				background: var(--defaultColor650, $defaultColor650);
			}
		}
	}
		@el input {
			display: none;
		}

		@el control {
			position: relative;
			top: -1px;
			display: inline-block;
			margin: 3px;
			width: 30px;
			height: 14px;
			border-radius: 7px;
			background: var(--grayColor850, $grayColor850);
			vertical-align: middle;
			cursor: pointer;
			user-select: none;

			&:focus {
				outline: none;

				body:not(._noFocusHighlight) & {
					@el thumb {
						&::after {
							position: absolute;
							top: 2px;
							right: 2px;
							bottom: 2px;
							left: 2px;
							border: 1px solid rgba(255,255,255,.8);
							border-radius: 50%;
							content: '';
						}
					}
				}
			}
		}
			@el thumb {
				position: absolute;
				top: -3px;
				left: -3px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: var(--defaultColor500, $defaultColor);
				transition: background .1s linear, transform .1s linear;
			}

		@el contentSlot {
		}

	@mod checked {
		@el label {
			&:hover {
				@el thumb {
					background: var(--primaryColor650, $primaryColor650);
				}
			}
		}
			@el thumb {
				background: var(--primaryColor500, $primaryColor);
				transform: translateX(16px);
			}
	}

	@mod disabled {
		opacity: .5;
		pointer-events: none;
	}
}