.opal-switch {
	position: relative;
	display: inline-block;
	line-height: 0;

	& .opal-switch__label {
	}
		& .opal-switch__input {
			display: none;
		}

		& .opal-switch__control {
			position: relative;
			top: -1px;
			display: inline-block;
			margin: 3px;
			width: 30px;
			height: 14px;
			border-radius: 7px;
			background: hsl(0,0%,84%);
			vertical-align: middle;
			cursor: pointer;
			user-select: none;
		}
			& .opal-switch__thumb {
				position: absolute;
				top: -3px;
				left: -3px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: hsl(208,18%,40%);
				transition: background .1s, transform .1s;
			}

		& .opal-switch__content {
		}

	/* States */

	& .opal-switch__label:hover .opal-switch__thumb {
		background: hsl(208,24%,46%);
	}

	& .opal-switch__control:focus {
		outline: none;
	}
		@nest
		body:not(._no-focus-highlight) & .opal-switch__control:focus .opal-switch__thumb::after {
			position: absolute;
			top: 2px;
			right: 2px;
			bottom: 2px;
			left: 2px;
			border: 1px solid rgba(255,255,255,.8);
			border-radius: 50%;
			content: '';
		}

	&[checked] .opal-switch__thumb {
		background: hsl(208,94%,54%);
		transform: translateX(16px);
	}

	&[checked] .opal-switch__label:hover .opal-switch__thumb {
		background: hsl(208,100%,60%);
	}

	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}
}