@component OpalRouter {
	position: relative;
	display: block;
	min-height: 320px;

	@media (min-height: 440px) {
		min-height: 440px;
	}
	@media (min-height: 560px) {
		min-height: 560px;
	}
	@media (min-height: 680px) {
		min-height: 680px;
	}
	@media (min-height: 800px) {
		min-height: 800px;
	}
	@media (min-height: 920px) {
		min-height: 920px;
	}
	@media (min-height: 1040px) {
		min-height: 1040px;
	}
	@media (min-height: 1160px) {
		min-height: 1160px;
	}
	@media (min-height: 1280px) {
		min-height: 1280px;
	}

	@el loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}