@component OpalRouter {
	position: relative;
	display: block;

	@el loader {
		margin: 0;
		padding: 0;
		text-align: center;
		line-height: 320px;

		@media (min-height: 440px) {
			line-height: 440px;
		}
		@media (min-height: 560px) {
			line-height: 560px;
		}
		@media (min-height: 680px) {
			line-height: 680px;
		}
		@media (min-height: 800px) {
			line-height: 800px;
		}
		@media (min-height: 920px) {
			line-height: 920px;
		}
		@media (min-height: 1040px) {
			line-height: 1040px;
		}
		@media (min-height: 1160px) {
			line-height: 1160px;
		}
		@media (min-height: 1280px) {
			line-height: 1280px;
		}
	}
}