@component OpalTreeList {
	position: relative;
	display: block;

	@el nothingFoundSlot {
		display: flex;
		box-sizing: border-box;
		padding: 12px;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
		@el nothingFoundMessage {
			opacity: .6;
		}

	@el loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}