@component OpalTreeList {
	position: relative;
	display: block;

	@el nothing-found-slot {
		display: block;
		box-sizing: border-box;
		padding: 12px;
		height: 100%;
		text-align: center;
		white-space: nowrap;

		&::before {
			display: inline-block;
			width: 0;
			height: 100%;
			content: '';
			vertical-align: middle;
		}
	}
		@el nothing-found {
			display: inline-block;
			vertical-align: middle;
			white-space: normal;
		}
			@el nothing-found-message {
				white-space: nowrap;
				opacity: .6;
			}

	@el loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}