.opal-select-option {
	display: block;
}
	.opal-select-option__control {
		position: relative;
		display: block;
		padding: 7px 22px;
		background: #fff;
		color: #000;
		text-align: left;
		text-shadow: none;
		white-space: nowrap;
		font: 16px/24px Verdana, Geneva, sans-serif;
		font-weight: normal;
		cursor: pointer;
		user-select: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;
	}
		.opal-select-option__content {
			position: relative;
			display: block;
		}

.opal-select-option__control:hover {
	background: hsl(0,0%,90%);
}

.opal-select-option__control:focus {
	outline: none;
}
	.opal-select-option__control:focus::after {
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
		box-shadow: inset 0 0 0 1px hsl(208,100%,60%);
		content: '';
		pointer-events: none;
	}

.opal-select-option__control:active {
	background: hsl(0,0%,80%);
}

.opal-select-option[selected] .opal-select-option__control {
	color: hsl(208,90%,50%);
}

.opal-select-option[disabled] {
	opacity: .5;
	pointer-events: none;
}
	.opal-select-option[disabled] .opal-select-option__control {
		cursor: default;
	}