.opal-validator-rule {
	display: block;

	& .opal-validator-rule__popover {
	}
		& .opal-validator-rule__content {
			display: block;
			width: 240px;
			text-align: center;
			line-height: 24px;
		}
}