@component OpalMultirowRow {
	display: block;
	white-space: nowrap;

	&::after {
		display: table;
		clear: both;
		content: '';
	}

	@el contentSlot {
		display: inline-block;
		margin: 0 12px 20px 0;
	}

	@el btnRemoveRow,
		btnAddRow
	{
		position: relative;
		top: 1px;
		display: none;
	}

	@el btnRemoveRow {
		margin-right: 9px;
	}

	@el btnAddRow {
	}

	.OpalMultirow__presetRowsSlot[not_have_new_rows] &:nth-last-child(2) .OpalMultirowRow__contentSlot,
	.OpalMultirow__newRows rn-slot:nth-last-child(2) & .OpalMultirowRow__contentSlot {
		margin-bottom: 0;
	}

	.OpalMultirow__presetRowsSlot[not_single_row] & .OpalMultirowRow__btnRemoveRow,
	.OpalMultirow__newRows[not_single_row] & .OpalMultirowRow__btnRemoveRow,
	.OpalMultirow__presetRowsSlot[not_have_new_rows] &:nth-last-child(2) .OpalMultirowRow__btnAddRow,
	.OpalMultirow__newRows rn-slot:nth-last-child(2) & .OpalMultirowRow__btnAddRow {
		display: inline-block;
	}

	/* Combinations */

	& .OpalPopover {
		white-space: normal;
	}
}