@component OpalMultirowRow {
	display: flex;
	margin-bottom: 20px;
	white-space: nowrap;
	align-items: baseline;

	@el contentSlot {
		display: inline-block;
		margin-right: 14px;
	}

	@el btnRemoveRow,
		btnAddRow
	{
		position: relative;
		top: 1px;
		display: none;
		align-self: center;
	}

	@el btnRemoveRow {
		margin-right: 8px;
	}

	@el btnAddRow {
	}

	.OpalMultirow__presetRowsSlot[not_have_new_rows] &:last-child,
	.OpalMultirow__newRows rn-slot:last-child & {
		margin-bottom: 0;
	}

	.OpalMultirow__presetRowsSlot[not_single_row] & .OpalMultirowRow__btnRemoveRow,
	.OpalMultirow__newRows[not_single_row] & .OpalMultirowRow__btnRemoveRow,
	.OpalMultirow__presetRowsSlot[not_have_new_rows] &:last-child .OpalMultirowRow__btnAddRow,
	.OpalMultirow__newRows rn-slot:last-child & .OpalMultirowRow__btnAddRow {
		display: inline-block;
	}

	/* Combinations */

	& .OpalPopover {
		white-space: normal;
	}
}